@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins Light';
  src: url('/font/poppins_light.ttf');
}
.poppins-light {
  font-family: 'Poppins Light';
}

@font-face {
  font-family: 'Poppins Regular';
  src: url('/font/poppins_regular.ttf');
}
.poppins-regular {
  font-family: 'Poppins Regular';
}

@font-face {
  font-family: 'Poppins Medium';
  src: url('/font/poppins_medium.ttf');
}
.poppins-medium {
  font-family: 'Poppins Medium';
}

@font-face {
  font-family: 'Poppins Semibold';
  src: url('/font/poppins_semibold.ttf');
}
.poppins-semibold {
  font-family: 'Poppins Semibold';
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url('/font/proximanova_reg.otf');
}
.proximanova-regular {
  font-family: 'Proxima Nova Regular';
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url('/font/proximanova_semibold.otf');
}
.proximanova-semibold {
  font-family: 'Proxima Nova Semibold';
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url('/font/proximanova_light.otf');
}
.proximanova-light {
  font-family: 'Proxima Nova Light';
}

.sga-label-link {
  font-family: 'Poppins Regular';
  text-decoration: underline;
  cursor: pointer;
}

.separator {
  height: 1px;
  width: 100%;
  background-color: #f0f0f0;
  box-shadow: 0px 0px 5px 0px #f0f0f0;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.two-fields {
  grid-column: span 2;
}

.three-fields {
  grid-column: span 3;
}

.four-fields {
  grid-column: span 4;
}

.five-fields {
  grid-column: span 5;
}

.size-full {
  height: 100%;
  width: 100%;
}

.screen-full {
  height: 100vh;
  width: 100vw;
}

.tomato {
  background: tomato;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-content {
  animation: showContent 0.4s forwards ease-in-out;
}

@keyframes showContent {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}