@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cor-1: #0d89ec;
  --cor-12: rgba(33, 150, 243, 0.24);
  --cor-13: rgba(0, 0, 0, 0.2);
  --cor-21: #323232;
  --cor-22: #191919;
  --cor-25: #e74c3c;
  --cor-26: #c0392b;
  --cor-30: rgba(96, 125, 139, 0.04);
  --cor-31: #89d4fe;
  --cor-33: rgba(2, 136, 209, 0.04);
  --cor-34: rgba(2, 136, 209, 0.16);
  --cor-44: rgba(251, 192, 45, 0.04);
  --cor-45: rgba(251, 192, 45, 0.16);
  --cor-5: #2196f3;
  --cor-50: rgba(156, 39, 176, 0.04);
  --cor-51: rgba(156, 39, 176, 0.16);
  --cor-55: rgba(211, 47, 47, 0.04);
  --cor-56: rgba(211, 47, 47, 0.16);
  --cor-57: #fff;
  --cor-58: rgba(0, 0, 0, 0.4);
  --cor-61: #fcfcfc;
  --cor-62: #6cbbf5;
  --cor-63: rgba(255, 255, 255, 0);
  --cor-64: rgba(255, 255, 255, 0.1);
  --cor-65: rgba(255, 255, 255, 0.2);
  --cor-66: #b3e5fc;
  --cor-67: #0891cf;
  --cor-68: #044868;
  --cor-69: #c8e6c9;
  --cor-70: #439446;
  --cor-71: #224a23;
  --cor-72: #ffecb3;
  --cor-73: #d9a300;
  --cor-74: #6d5100;
  --cor-75: #ffcdd2;
  --cor-76: #e60017;
  --cor-77: #73000c;
  --cor-78: rgba(255, 255, 255, 0.3);
  --cor-79: rgba(0, 0, 0, 0.5);
  --cor-80: rgba(255, 255, 255, 0.4);
  --cor-81: rgba(0, 0, 0, 0.9);
  --cor-82: rgba(0, 0, 0, 0.7);
  --cor-83: rgba(0, 0, 0, 0.8);
  --cor-84: #b6bfc8;
  --cor-86: #343a40;
  --cor-87: #f2f2f2;
  --cor-88: rgba(255, 255, 255, 0.6);
  --cor-89: rgba(96, 125, 139, 0.16);
}

@font-face {
  font-family: 'Poppins Light';
  src: url('/font/poppins_light.ttf');
}
.poppins-light {
  font-family: 'Poppins Light';
}

@font-face {
  font-family: 'Poppins Regular';
  src: url('/font/poppins_regular.ttf');
}
.poppins-regular {
  font-family: 'Poppins Regular';
}

@font-face {
  font-family: 'Poppins Medium';
  src: url('/font/poppins_medium.ttf');
}
.poppins-medium {
  font-family: 'Poppins Medium';
}

@font-face {
  font-family: 'Poppins Semibold';
  src: url('/font/poppins_semibold.ttf');
}
.poppins-semibold {
  font-family: 'Poppins Semibold';
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url('/font/proximanova_reg.otf');
}
.proximanova-regular {
  font-family: 'Proxima Nova Regular';
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url('/font/proximanova_semibold.otf');
}
.proximanova-semibold {
  font-family: 'Proxima Nova Semibold';
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url('/font/proximanova_light.otf');
}
.proximanova-light {
  font-family: 'Proxima Nova Light';
}

.sga-label-link {
  font-family: 'Poppins Regular';
  text-decoration: underline;
  cursor: pointer;
}

.separator {
  height: 1px;
  width: 100%;
  background-color: #f0f0f0;
  box-shadow: 0px 0px 5px 0px #f0f0f0;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.two-fields {
  grid-column: span 2;
}

.three-fields {
  grid-column: span 3;
}

.four-fields {
  grid-column: span 4;
}

.five-fields {
  grid-column: span 5;
}

.size-full {
  height: 100%;
  width: 100%;
}

.screen-full {
  height: 100vh;
  width: 100vw;
}

.tomato {
  background: tomato;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-content {
  animation: showContent 0.4s forwards ease-in-out;
}

@keyframes showContent {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.p-toast .p-toast-message .p-toast-message-content {
  border-width: 0 !important;
}

.p-toast {
  opacity: 0.9;
}
.p-toast-message-content {
  display: flex;
}
.p-toast .p-toast-message {
  margin: 0 0 1rem 0;
  box-shadow:
    0 2px 4px -1px var(--cor-12),
    0 4px 5px 0 var(--cor-14),
    0 1px 10px 0 var(--cor-15);
  border-radius: 3px;
}
.p-toast .p-toast-message .p-toast-message-content {
  padding: 1rem;
  border-width: 0 0 0 6px;
}
.p-toast .p-toast-message .p-toast-message-content .p-toast-message-text {
  margin: 0 0 0 1rem;
}
.p-toast .p-toast-message .p-toast-message-content .p-toast-message-icon {
  font-size: 2rem;
}
.p-toast .p-toast-message .p-toast-message-content .p-toast-summary {
  font-weight: 700;
}
.p-toast .p-toast-message .p-toast-message-content .p-toast-detail {
  margin: 0.5rem 0 0 0;
}
.p-toast .p-toast-message .p-toast-icon-close {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: transparent;
  transition:
    background-color 0.2s,
    color 0.2s,
    box-shadow 0.2s;
}
.p-toast .p-toast-message .p-toast-icon-close:hover {
  background: var(--cor-78);
}
.p-toast .p-toast-message .p-toast-icon-close:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem var(--inputBoxShadowColor);
}
.p-toast .p-toast-message.p-toast-message-info {
  background: var(--cor-66);
  border: solid var(--cor-67);
  border-width: 0 0 0 6px;
  color: var(--cor-68);
}
.p-toast .p-toast-message.p-toast-message-info .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-info .p-toast-icon-close {
  color: var(--cor-68);
}
.p-toast .p-toast-message.p-toast-message-success {
  background: var(--cor-69);
  border: solid var(--cor-70);
  border-width: 0 0 0 6px;
  color: var(--cor-71);
}
.p-toast .p-toast-message.p-toast-message-success .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-success .p-toast-icon-close {
  color: var(--cor-71);
}
.p-toast .p-toast-message.p-toast-message-warn {
  background: var(--cor-72);
  border: solid var(--cor-73);
  border-width: 0 0 0 6px;
  color: var(--cor-74);
}
.p-toast .p-toast-message.p-toast-message-warn .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-warn .p-toast-icon-close {
  color: var(--cor-74);
}
.p-toast .p-toast-message.p-toast-message-error {
  background: var(--cor-75);
  border: solid var(--cor-76);
  border-width: 0 0 0 6px;
  color: var(--cor-77);
}
.p-toast .p-toast-message.p-toast-message-error .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-error .p-toast-icon-close {
  color: var(--cor-77);
}